##############################
## cellox                   ##
##############################
*.[Cc][Xx][Cc][Ff]
*.[Cc][Xx][Bb][Mm]

##############################
## clang                    ##
##############################
.[Cc][Aa][Cc][Hh][Ee]/
[Cc][Oo][Mm][Pp][Ii][Ll][Ee]_[Cc][Oo][Mm][Mm][Aa][Nn][Dd][Ss].[Jj][Ss][Oo][Nn]

##############################
## cmake                    ##
##############################
[Bb][Uu][Ii][Ll][Dd]*/
[Oo][Uu][Tt]/

##############################
## IntelliJ                 ##
##############################
.[Ii][Dd][Ee][Aa]/

##############################
## vscode                   ##
##############################
.[Vv][Ss][Cc][Oo][Dd][Ee]/

##############################
## custom script folders    ##
##############################
[Cc][Uu][Ss][Tt][Oo][Mm][Ss][Cc][Rr][Ii][Pp][Tt][Ss]/
[Cc][Uu][Ss][Tt][Oo][Mm]-[Ss][Cc][Rr][Ii][Pp][Tt][Ss]/
[Cc][Uu][Ss][Tt][Oo][Mm]_[Ss][Cc][Rr][Ii][Pp][Tt][Ss]/
