##############################
## cellox
##############################
*.[Cc][Xx][Cc][Ff]
*.[Cc][Xx][Bb][Mm]

##############################
## clang
##############################
.[Cc][Aa][Cc][Hh][Ee]/

##############################
## cmake
##############################
[Bb][Uu][Ii][Ll][Dd]/

##############################
## IntelliJ
##############################
.[Ii][Dd][Ee][Aa]/

##############################
## vscode
##############################
.[Vv][Ss][Cc][Oo][Dd][Ee]/
